<div class="section section-demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="description-carousel" class="carousel fade" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item">
                            <%= image_tag("home_33.jpg") %>
                        </div>
                        <div class="item active">
                            <%= image_tag("home_22.jpg") %>
                        </div>
                        <div class="item">
                            <%= image_tag("home_11.jpg") %>
                        </div>
                    </div>
                    <ol class="carousel-indicators carousel-indicators-blue">
                        <li data-target="#description-carousel" data-slide-to="0" class=""></li>
                        <li data-target="#description-carousel" data-slide-to="1" class="active"></li>
                        <li data-target="#description-carousel" data-slide-to="2" class=""></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <h4 class="header-text">Easy to integrate</h4>
                <p>
                    With all the apps that users love! Make it easy for users to share, like, post and tweet their favourite things from the app. Be sure to let users know they continue to remain connected while using your app!
                </p>
            </div>
        </div>
    </div>
</div>