<div class="section section-features">
    <div class="container">
        <h4 class="header-text text-center">Features</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-note2"></i>
                    </div>
                    <div class="text">
                        <h4>Online Customers Management</h4>
                        <p>All appointments sync with your Google calendar so your availability is always up to date. See your schedule at a glance from any device.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-bell"></i>
                    </div>
                    <h4>Smart Notifications on hands</h4>
                    <p>Automatic text and email reminders make sure customers always remember their upcoming appointments.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blue">
                    <div class="icon">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h4>Know your business better now</h4>
                    <p>Take payments and run your business on the go, in your store and then see how it all adds up with analytics.</p>
                </div>
            </div>
        </div>
    </div>
</div>	