<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <img class ="parallax-background-image" src="assets/img/template/bg3.jpg"/>
        </div>
        <div class="info">
            <h1>Download this landing page for free!</h1>
            <p>Beautiful multipurpose bootstrap landing page.</p>
            <a href="http://www.creative-tim.com/product/awesome-landing-page" class="btn btn-neutral btn-lg btn-fill">DOWNLOAD</a>
        </div>
    </div>
</div>