<div class="section section-no-padding">
    <div class="parallax filter-gradient blue" data-color="blue">
        <div class="parallax-background">
            <!--img class ="parallax-background-image"/> <!-- src="assets/img/template/bg3.jpg"-->
        </div>
        <div class="info">
            <h1>Coming soon Alpha 22 of May 2017!</h1>
            <p>For info write an email at fabri.ber87@gmail.com</p>
        </div>
    </div>
</div>