<div class="section section-presentation">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="description">
                    <h4 class="header-text">It's beautiful</h4>
                    <p>And your app is also probably social, awesome, easy-to-use and vital to users. This is the place to enlist all the good things that your app has to share. Focus on the benefits that the uers will receive. Try to combine imaginery with text and show meaningful printscreens from your app, that will make it clear what exactly the basic functions are. </p>
                    <p>Try to make it very clear for the people browsing the page that this product will enrich their life and will make a nice addition to the homescreen.
                    <p>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 hidden-xs">
                <%= image_tag("mac.png") %>
            </div>
        </div>
    </div>
</div>