
<% @companies.each do |company| %>
	<% company.campaigns.each do |campaign| %>
	<% total_visits += campaign.visits
				
<p><%= %></p>
<div class="container">
  <div class="skills html"><%= %></div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>JavaScript</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p>PHP</p>
<div class="container">
  <div class="skills php">60%</div>
</div>