<div class="content">
    <div class="container-fluid">

	<%- if controller_name == 'companies' && action_name == 'index' %>
	  <%= link_to "New Company", new_company_path, class: "btn btn-primary btn-fill" %><br />
	<% end -%>

    </div>
</div>                    