<div class="content">
    <div class="container-fluid">

		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<%- if controller_name == 'companies' && action_name == 'index' %>
				  <%= link_to "New Company", new_company_path, class: "btn btn-primary btn-fill btn-main" %><br />
				<% end -%>
				<%- if controller_name == 'companies' && action_name == 'show' %>
				  <%= link_to "New Campaign", new_campaign_path(@company),class: "btn btn-primary btn-fill btn-main", method: :get %><br />
				<% end -%>				
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
				<%- if controller_name == 'companies' && action_name == 'index' %>
				  <%= link_to "New Campaign", new_campaign_path, method: :get, class: "btn btn-success btn-fill btn-main" %><br />
				<% end -%>
			</div>		
		</div>
    </div>
</div>                    