/* simple_form */
	/* dots below required * */

abbr[title] {
	border: 0px;
}

	/* Fields Errors from validations */

.field_with_errors:nth-of-type(2) {
	border: solid red 1px;
}

label .field_with_errors {
	border: none;
}

/* GET companies#index */ 
	/* Options column style for icons buttons */

 .table .btn {
 	border-radius: 10%;
 	padding: 0px 6px;
 }


 .table .fa-info {
 	padding: 0px 2px;
 }

.options {
	text-align: center;
}

/* Sidebar */

.sidebar {
	background-image: url("https://s3.eu-central-1.amazonaws.com/freeads/sidebar-4.jpg")
}

/* GET campaigns#new */

.new_campaign .checkbox {
	color: #cccccc;
}