/* simple_form */
	/* dots below required * */

abbr[title] {
	border: 0px;
}

	/* Fields Errors from validations */

.field_with_errors:nth-of-type(2) {
	border: solid red 1px;
}

label .field_with_errors {
	border: none;
}

/* GET companies#index */ 
	/* Options column style for icons buttons */

 .table .btn {
 	border-radius: 10%;
 	padding: 0px 6px;
 }


 .table .fa-info {
 	padding: 0px 2px;
 }

.options {
	text-align: center;
}

/* Sidebar */

.sidebar {
	background-image: image-url("sidebar-4.jpg")
}

/* GET campaigns#index */

.flag {
	height: 24px;
}

.flagsmall {
	height: 31px;
}

/* GET campaigns#new */

.new_campaign .checkbox {
	color: #cccccc;
}


/* GET run#show */

.numeric {
	text-align: right;
}

/* POST qrcodes#create */

table.qr-code {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}
table.qr-code td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
}
table.qr-code td.black { background-color: #000; }
table.qr-code td.white { background-color: #fff; }


/* Media queries */ 

@media (max-width: 940px) {
	.flag {
		height: 10px;
	}

	.flagsmall {
		height: 14px;
	}
}

@media (max-width: 767px) {
	.table-responsive > .table > tbody > tr > td {
		/* before no-wrap */
		white-space: initial;
	}

	.table .btn {
		padding: 11px 12px;
		margin: 5px 5px;
		float: right;
	}
}

@media (max-width: 360px) {
	.table-responsive > .table > tbody > tr > td {
		white-space: initial;
	}

	.table .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-radius: 5px;
	}

	#display {
		display: none;
	}
}
