/* First Page with Smartphone*/

.buttons a {
	width: 186px;
}

/* Parallax */

.messages {
	z-index: 1;
	position: absolute;
	top: 90px;
}

/* Media Queries */

@media (max-width: 622px) {
	.wrapper .container .row {
		display: flex;
		flex-direction: column;
	}
}